header {
    position: fixed;
    top: 0;
    background-color: white;
    border-bottom: solid black 1px;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: end;
    gap: 20px;
    margin-right: 100px;
    position: absolute;
    right: 0;
}

.logo {
    height: 50px;
    width: 70px;
}

.content {
    padding-top: 0px;
    height: 70vh;
}